*{
  margin: 0;
  padding: 0;
  background-color: black;
}

.black-header1{
  position : fixed;
  top : 0px;
  z-index: 3;
  display: none;
}

.img-name{
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/* Img Container */
.imgs-container{
    /* border: 1px solid white; */
    /* padding:10px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    
    align-items: flex-end; /* new change since we are now defaulting scroll_To_Top_OR_Bottom_Of_Img = false */
}

.img-item{
  /* margin: 10px; */
  border: 1px solid white;
  border: none;
  /* width: 472px; this is for old laptop */
  /* width: 432px; /* for new laptop  */
  /* width: 200px;  */ /* 7 items */
  /* width: 175px;  */ /* 8 items */
  /* width: 154px; 9 items */
  /* width: 140px; /* 10 items */
  width: 353px; /* 10 items */
  /* min-height: 298px; */
  height: fit-content;

  border-radius: 20px;
  /* height: 298px; */
}

img{
  /* border-top-left-radius: 20px;
  border-top-right-radius: 20px; */
  max-width: 100%;
}

.img-name{
    color: white;
    /* display: none; */
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-family: monospace;
    word-wrap: break-word;
    padding: 0 9px;
}

.img-folder-name{
  font-weight: bold;
  color: rgb(10, 221, 150);
}

.copy-container{
  display:flex;
  justify-content: center;
  margin-top: '10px';
}

ul{
  margin-bottom: '10px';
}

.copy-button{
  font-weight: bold;
  color: white;
  display: block;
  border: 1px solid white;
  padding: 4px;
  margin: 6px;
  font-size: 12px;
}

.hidden-button{
  display: none;
}

/* mode button styles */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#checkboxes-container{
  display: inline-block;
  padding: 13px 0;
}

.check-box-div{
  display: inline-block;
  height: 33px;
}

.check-box-div label{
  display: inline;
  margin-left: 6px
}

.check-box-div input{
  margin-left: 8px;
}

.m-switch-button{
  height: 29px;
  padding-top: 6px;
}

#show-website-name, #no-folders{
  color: cyan;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  border-width: 4px;
  border-color: #a6e1fa;
}

#no-folders{
  width: 100px;
}

.search-box{
  position: fixed; 
  border: 6px solid rgb(10, 178, 235); 
  height: 30px; 
  top: 50px; 
  color: rgb(13, 219, 31); 
  font-size: 20px; 
  font-weight: bold; 
  right: 10px;
  display: none;
}

/* for video files */
.yellow-text{ 
  color: black;
  font-weight: bold;
  text-decoration: underline;
  background-color: cyan;
}

#yearFilter{
  width: 100px;
  margin: 4px 0 0 6px;
  height: 34px;
}

#monthFilter{
  width: 120px;
  margin: 4px 6px 0 6px;
  height: 34px;
}